div {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    background-color: rgb(255, 98, 124);
}

.nav-container h1 {
    flex-grow: 3;
    margin: 20px;
    font-size: 40px;
    color: white;
}

.nav-container a {
    text-decoration-line: none;
    margin: 15px;
    font-size: 30px;
    font-weight: 400;
    color: white;
    
}

.main-background {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    text-align: center;
}

.main-title {
    color: white;
    font-size: 40px;
    margin-top: 100px;
}

.main-content {
    color: white;
}

.main-button {
    padding: 15px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}

.extra-box {
    background-color: lightgrey;
    width: 50%;
    text-align: center;
    padding: 16px;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    margin: auto;

}

.text-input {
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .main-title {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: 20px;
    }
}